# Ignore all .bin files
*.bin

#Ignore all .txt files
#*.txt

# Ignore all .png files
*.png

#Ignore all .out files
*.out

#Ignore all .exe files
*.exe

#Ignore the __pycache__ in lib
/lib/__pycache__/

# Allow Git to scan directories
!*/

# Re-include specific files anywhere
!**/Blankf.txt
!**/Blanks.txt
